.card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

.image{
    width: 100%;
    height: 250px;
}

.description{
    padding: 10px 30px;
    font-weight: 100;
    height: 100%;
}

.favorite{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
.price{
   width: 100%;
   display: flex;
   padding: 0px 10px;
   justify-content: flex-end;
   box-sizing: border-box;
   color: var(--color-red);
}

.price span{
    font-size: 30px;
}
.price sup{
    font-size: 15px;
}

.notAvatible{
   width: 100%;
  
   float: right;
   box-sizing: border-box;
   color: white;
   text-align: right;
}

.notAvatible span {
    background-color: var(--color-red);
    padding: 10px 22px;
    border-radius: 20px 0 0 0;
}