@font-face {
  font-family: 'Poppins';
  src: url(./../public/fonts/Poppins-Medium.ttf);
}

:root{
  --color-black: #000;
  --color-black-secundary: #383838;
  --color-red: #ff0000;
  --color-red-secundary: #910101;
  --color-gray: #cccccc;
  --color-gray-ligth: #f1f1f1;
  --z-index-primary: 1000;
  --z-index-secundary: 100;
}

html,
body {
 font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

footer{
  background-color: black;
  height: 200px;
  display: flex;
}

.formControlMessageError {
  font-size: 0.7rem;
  color: red;
}


@import "swiper/css";