.buttonNext {
  position: absolute;
  z-index: var(--z-index-primary);
  top: 46%;
  right: 0px;
  cursor: pointer;
}
.buttonBack {
  position: absolute;
  z-index: var(--z-index-primary);
  top: 46%;
  left: 0px;
  cursor: pointer;
}
.slideItem {
  width: 329px;
  margin-right: 20px;
}
